<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.odu.cs411.loqui">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_noshadow"
        android:label="LoQui"
        android:roundIcon="@mipmap/logo_noshadow"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".MusicService"
            android:enabled="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="edu.odu.cs411.loqui.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".SplashScrActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SpeechGame" android:exported="true"/>
        <activity android:name=".PWresetActivity"></activity>
        <activity android:name=".UserProfile"/>
        <activity android:name=".Story"/>
        <activity android:name=".Homepage" />
        <activity android:name=".Homepage2"/>
        <activity android:name=".Task1" />
        <activity android:name=".Task3_question" />
        <activity android:name=".Task3_success" />
        <activity android:name=".Task1_1" />
        <activity android:name=".Task_4"/>
        <activity android:name=".rcvadapter"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".MusicActivity"/>
        <activity android:name=".ProgressActivity"/>
        <activity android:name=".Goals"/>
        <activity android:name=".ParentPortalActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Task1_emotion" />
        <activity android:name=".IntroPage"></activity>
    </application>

</manifest>